.experience-timeline {
    position: relative;
    padding-left: 50px;
}

.experience-timeline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #e0e0e0;
}

.experience-item {
    position: relative;
    padding-bottom: 40px;
}

.experience-item::before {
    content: '';
    position: absolute;
    left: -54px;
    top: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #00a67d;
}

.experience-date {
    /* color: #00a67d; */
    font-size: 0.9em;
    margin-bottom: 8px;
}

.experience-title {
    /* font-size: 1.2em;
    font-weight: 600;
    margin: 8px 0; */
    color: #00a67d;
    font-size: 1.2em;
    margin-bottom: 8px;
}

.experience-project {
    /* font-size: 1.2em;
    font-weight: 600;
    margin: 8px 0; */
    color: #00a67d;
    font-size: 1.2em;
    margin-bottom: 8px;
}


.experience-description {
    color: #666;
    line-height: 1.6;
}